{% extends "jeu/layout.html.twig" %}
{% block script %}
<script>
function confirm_delete_jeu() {
    if (confirm("Supprimer le jeu ?\nAttention, cette action est définitive !")) {
        window.location.replace("{{ jeu.id }}/delete");
    }
}
</script>
{% endblock %}
{% block content %}
<table>
    <tr>
        <td>Titre</td>
        <td>{{ jeu.titre }}</td>
    </tr><tr>
        <td>Description</td>
        <td>{{ jeu.description }}</td>
    </tr><tr>
        <td>Joueurs</td>
        <td>De {{ jeu.joueursMin }} à {{ jeu.joueursMax }}</td>
    </tr><tr>
        <td>Durée</td>
        <td>{{ jeu.duree }} min.</td>
    </tr><tr>
        <td>Année de sortie</td>
        <td>{{ jeu.annee}}</td>
    {% if editeur %}
    </tr><tr>
        <td>Éditeur</td>
        <td>{{ editeur.name }}</td>
    </tr>
    {% endif %}
    <!-- TODO: ajouter auteur -->
    <!-- TODO: ajouter genre -->
</table>
{% if is_granted("ROLE_KEJ") %}<button onclick="document.location = '{{ jeu.id }}/edit'">Modifier</button>{% endif %}
{% if is_granted("ROLE_KEJ") %}<button onclick="confirm_delete_jeu()">Supprimer</button>{% endif %}
{% endblock %}