<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta type="robots" content="noindex">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Kotéjeux
			{% endblock %}
		</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Open+Sans:wght@700&family=Roboto&display=swap" rel="stylesheet">
		<link href="{{ asset('css/error.css') }}" rel="stylesheet"/>
		<link href="{{ asset('css/style.css') }}" rel="stylesheet"/> {% block stylesheets %}{% endblock %}
		</head>
		<body>
			<div id="bloc_page">
				<header>
					<a href="{{ path('index') }}" class="main_logo">
						<div id="main_title">
							<div class="logo">
								<img src="{{ asset('pictures/logo.png') }}" alt="Logo du KEJ"/>
							</div>
							<h1>Kotejeux</h1>
						</div>
					</a>
					<nav id="subtitle">
						{% if not is_granted("IS_AUTHENTICATED_FULLY") %}
							<a href="/login">Connexion</a>
						{% endif %}
						{% if is_granted("IS_AUTHENTICATED_FULLY") %}
							<p>
								Vous êtes connecté(e) en tant que
								<strong>{{ app.user.username }}</strong>
							</p>
							<a href="/logout">Déconnexion</a>
						{% endif %}
					</nav>
				</header>
				<nav id="sidebar">
					{% block sidebar %}
						<a href="{{ path('index') }}">Home</a>
						<a href="{{ path('jeu') }}">Jeux</a>
						<!--<li><a href="{{ path('editeur') }}">Éditeurs</a></li>-->
						{% if is_granted("ROLE_KEJ") %}
							<div class="dropdown">
								<button class="dropbtn" onclick="document.location='{{ path('location') }}'">Locations</button>
								<div class="dropdown-content">
									<a href="{{ path('location_all') }}">Historique des locations</a>
									<a href="{{ path('location') }}">Locations en cours</a>
									<a href="{{ path('location_retard') }}">Locations en retard</a>
								</div>
							</div>
						{% endif %}
						<a href="{{ path('blog_index') }}">Blog</a>
						<a href="{{ path('contact') }}">Contact</a>
					{% endblock %}
				</nav>

				<div id="content"> {% block body %}{% endblock %}
					</div>

					<footer>
						{% block footer %}
							<a href="index">Page principale</a>
							<a href="about">À propos</a>
							<a href="https://www.facebook.com/kote.jeux"><img src="{{ asset('pictures/f_logo_RGB-White_58.png') }}" class="network_logo" alt="facebook logo"/></a>
							<a href="https://www.instagram.com/moumouchedukej/"><img src="{{ asset('pictures/instagram_logo_white.png') }}" class="network_logo" alt="instagram logo"/></a>
						{% endblock %}
					</body>
				</html>
			</body>
		</html>
	</footer>
</div>
{% block javascripts %}{% endblock %}</body></html>
